#div_fondo_completo {
  background: rgb(206, 206, 206);
  border-radius: 15px;
  padding: 5px;
  box-shadow: 0px 0px 5px var(--grey); 
}


#btn_create {
  background-color: rgb(255, 255, 255);
  width: 30%;
  padding: 10px;
  margin: 10px 0;
  font-size: 15px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: .3s;
}

#btn_create:hover {
  background-color: var(--primary);
  color: white;
}



#div_fondo {
  width: 60%;
  position: absolute;
}

input {
  width: auto;
}



