.form {
  text-align: center;
  border-radius: 15px;
  background-color: aliceblue;
  padding: 10px;
  margin: 10px;
  width: 100%;
}

.container_inputs {
  display: flex;
}

.delete {
    width: 40%;
    background-color: aliceblue;
    color: black;
    font-size: 20px;
    text-align: center;
    padding: 30px;
    border-radius: 20px;
}

.container {
  width: 80%;
  position: absolute;
}

.label {
  color: rgb(56, 56, 56);
  padding: 10px;
  display: flex;
  text-align: left;
  flex-direction: column;
}

.input {
  margin: 5px;
  width: 80%;
  padding: 10px;
  outline: none;
  transition: 0.5s;
  background: 0.0000002;
  border: none;
  border-radius: 10px;
}

.input:focus {
  box-shadow: 0px 5px 1px var(--grey);
  border: none;
  transition: 0.3s;
}

.btn {
  background-color: rgb(255, 255, 255);
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  font-size: 15px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
}

.btn:hover {
  background-color: var(--primary);
  color: white;
}

.error {
  text-align: left;
  color: var(--error);
  font-size: 12px;
}

@media (max-width: 500px) {
  .container {
    width: 100%;
  }

  .form {
    margin: auto;
    width: 90%;
    height: 30rem;
    overflow-y: auto;
    overflow-x: hidden;
  }

  .input {
    width: 90%;
  }

  .container_inputs {
    display: block;
  }
}
