:root {
  --primary: white;
  --segundary: white;
  --gradient: linear-gradient(0deg, #63a9d7 0%,#2c57a1 100%);
  --tertiary: #848484;
  --grey: #000000b3;

  font-family: Arial, Helvetica, sans-serif;
}

body {
  background: var(--primary);
  text-align: center;
  height: 100vh;
  overflow-y: hidden; 
}
