#modal {
  background: rgba(0, 0, 0, 0.692);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

#Create {
  background: white;
  align-items: center;
  width: 50%;
}


form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  display: flex;

}