#div_fondo_muestra {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 2rem;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 0px 1px var(--grey);
  text-align: left;
  padding: 10px;
  font-size: 15px;
  border-radius: 20px;
}

#boton_edit_delet {
  background-color: rgb(255, 255, 255) ;
  box-shadow: 0px 0px 1px black;
  padding: 5px;
  margin: 10px;
  font-size: 15px;
  border: none;
  border-radius: 10px;
}